<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>超市账单管理系统</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
	<link rel="stylesheet" href="/stylesheets/public.css"/>
	
</head>
<body>
<!--头部-->
    <header class="publicHeader">
        <h1 style="margin-top:10px ;">超市账单管理系统</h1>
        <div class="publicHeaderR">
            <p><span id="hours"></span><span style="color: #fff21b"> <%- name  %></span> , 欢迎你！</p>
            <a href="/login">退出</a>
        </div>
    </header>
<!--时间-->
    <section class="publicTime">
        <span id="time">2015年1月1日 11:11  星期一</span>
        <a href="#">温馨提示：为了能正常浏览，请使用高版本浏览器！（IE10+）</a>
    </section>
<!--主体内容-->
    <section class="publicMian ">
        <div class="left">
            <h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>
            <nav>
                <ul class="list">
                    <li id="active"><a href="/billList">账单管理</a></li>
                    <li><a href="/providerList">供应商管理</a></li>
                    <li><a href="/userList">用户管理</a></li>
                    <li><a href="/password">密码修改</a></li>
                    <li><a href="/login">退出系统</a></li>
                </ul>
            </nav>
        </div>
        <div class="right">
            <div class="location">
                <strong>你现在所在的位置是:</strong>
                <span>账单管理页面</span>
            </div>
            <div class="search">
                <span>商品名称：</span>
                <input type="text" class="chaxun"   placeholder="请输入订单编码"/>
                
                <input type="button" class="cx" value="查询"/>
                <a href="/billAdd">添加订单</a>
            </div>
            <!--账单表格 样式和供应商公用-->
            <table class="providerTable" cellpadding="0" cellspacing="0">
            	<thead>
	                <tr class="firstTr">
	                    <th width="10%">订单编码</th>
	                    <th width="20%">商品名称</th>
	                    <th width="10%">商品单价</th>
	                    <th width="10%">商品数量</th>
	                    <th width="10%">商品总价</th>
	                    <th width="10%">创建时间</th>
	                    <th width="30%">操作</th>
	                </tr>
                </thead>
                
                
                <tbody>
	                <%  list.map(function(item,i){ %>
			   		<tr>
	                    <td data-id='<%- item._id %>'><%- item.billId %></td>
	                    <td><%- item.name %></td>
	                    <td><%- item.price %></td>
	                    <td><%- item.num %></td>
	                    <td><%- item.money %></td>
	                    <td><%- item.time %></td>
	                    <td>
	                        <a href="/billView?id=<%- item._id %>" class="bill_ck" data-id='<%- item._id %>'><img src="images/read.png"  alt="查看" title="查看"/></a>
	                        <a href="/billUpdate?id=<%- item._id %>" class="bill_xg" data-id='<%- item._id %>'><img src="images/xiugai.png" alt="修改" title="修改"/></a>
	                        <a href="#" class="removeBill" data-id='<%- item._id %>'><img src="images/schu.png" alt="删除" title="删除"/></a>
	                    </td>
	                </tr>
			   	
			   	<% }) %>
              </tbody>
            </table>
            
            
            <nav aria-label="Page navigation">
			  <ul class="pagination">
			    <li>
			      <a href="/billList?pageNum=<%-pageNum<1?1:parseInt(pageNum-1) %>" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>
			   
			    	<% if(page>4 ){ %>
			    		<li><a href="/billList?pageNum=1">1</a></li>
			    		<li><a href="/billList?pageNum=2">2</a></li>
			    		<li><a href="#">...</a></li>
			    		<li><a href="/billList?pageNum=<%- page-1 %>"><%- page-1 %></a></li>
			    		<li><a href="/billList?pageNum=<%- page %>"><%- page %></a></li>
			    		
			    	<% }else{ %>
			    		
			    		<% for(let i=0;i<page;i++){ %>
				    		<li><a href="/billList?pageNum=<%- i+1 %>"><%- i+1 %></a></li>
				    
				    	<% } %>
			    		
			    	<% } %>
			    
			    
			    <li>
			      <a href="/billList?pageNum=<%- pageNum>page?page:parseInt(pageNum)+1 %>" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			  </ul>
			</nav>
			
			
        </div>
    </section>

<!--点击删除按钮后弹出的页面-->
<div class="zhezhao"></div>
<div class="remove" id="removeBi">
    <div class="removerChid">
        <h2>提示</h2>
        <div class="removeMain">
            <p>你确定要删除该订单吗？</p>
            <a href="#" id="yes" >确定</a>
            <a href="#" id="no">取消</a>
        </div>
    </div>
</div>

    <footer class="footer">
    </footer>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/js.js"></script>
<script src="/javascripts/time.js"></script>

</body>
<script type="text/javascript">
	$('.removeBill').click(function(){
		var id = $(this).attr('data-id')
		console.log(id)
		$('#yes').click(function(){
			
			$.ajax({
				type:"get",
				url:"/users/del/billList",
				data:{id:id},
				success:function(data){
					//console.log(data)
					if(data == 1){
						location.href = "/billList"
						
					}else{
						alert('删除失败')
					}
				}
			})
		})
		
	})
	
	
	
	$('.bill_ck').click(function(){
		var id = $(this).attr('data-id')
		//console.log(id);
		$.ajax({
			type:"get",
			url:"/billView",
			data:{id:id},
			success:function(data){
				
			}
		});
	})
	
	
	$('.cx').click(function(){
		
		var aa = $('.chaxun').val()
		console.log(aa)
		$.ajax({
			type:"get",
			url:"/search",
			data:{billId:aa},
			success:function(data){
				console.log(data)
				location.href = '/billSearch?'+data;
				console.log(data)
				
				
			}
		});
	})
	
</script>
</html>