<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>超市账单管理系统</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/public.css"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
<!--头部-->
    <header class="publicHeader">
        <h1 style="margin-top:10px ;">超市账单管理系统</h1>
        <div class="publicHeaderR">
            <p><span id="hours"></span><span style="color: #fff21b"> <%- name %></span> , 欢迎你！</p>
            <a href="/login">退出</a>
        </div>
    </header>
<!--时间-->
    <section class="publicTime">
        <span id="time">2015年1月1日 11:11  星期一</span>
        <a href="#">温馨提示：为了能正常浏览，请使用高版本浏览器！（IE10+）</a>
    </section>
<!--主体内容-->
    <section class="publicMian ">
        <div class="left">
            <h2 class="leftH2"><span class="span1"></span>功能列表 <span></span></h2>
            <nav>
                <ul class="list">
                    <li><a href="/billList">账单管理</a></li>
                    <li><a href="/providerList">供应商管理</a></li>
                    <li  id="active"><a href="/userList">用户管理</a></li>
                    <li><a href="/password">密码修改</a></li>
                    <li><a href="/login">退出系统</a></li>
                </ul>
            </nav>
        </div>
        <div class="right">
            <div class="location">
                <strong>你现在所在的位置是:</strong>
                <span>用户管理页面</span>
            </div>
            <div class="search">
                <span>用户名：</span>
                <input type="text" class="chaxun3" placeholder="请输入用户名"/>
                <input type="button" class="cx3" value="查询"/>
                <a href="/userAdd">添加用户</a>
            </div>
            <!--用户-->
            <table class="providerTable" cellpadding="0" cellspacing="0">
            	<thead>
                <tr class="firstTr">
                    <th width="10%">用户编码</th>
                    <th width="20%">用户名称</th>
                    <th width="10%">性别</th>
                    <th width="10%">年龄</th>
                    <th width="10%">电话</th>
                    <th width="10%">用户类型</th>
                    <th width="30%">操作</th>
                </tr>
                </thead>
                <tbody>
	                 <%  list.map(function(item,i){ %>
			   		<tr>
	                    <td data-id='<%- item._id %>'><%- item.userId %></td>
	                    <td><%- item.name %></td>
	                    <td><%- item.sex %></td>
	                    <td><%- item.age %></td>
	                    <td><%- item.phone %></td>
	                    <td><%- item.leixing %></td>
	                    <td>
	                        <a href="/userView?id=<%- item._id %>" class="user_ck" data-id='<%- item._id %>'><img src="images/read.png"  alt="查看" title="查看"/></a>
	                        <a href="/userUpdate?id=<%- item._id %>" class="user_xg" data-id='<%- item._id %>'><img src="images/xiugai.png" alt="修改" title="修改"/></a>
	                        <a href="#" class="removeUser" data-id='<%- item._id %>'><img src="images/schu.png" alt="删除" title="删除"/></a>
	                    </td>
	                </tr>
			   	
			   	<% }) %>
               </tbody> 
                
            </table>

			<nav aria-label="Page navigation">
			  <ul class="pagination">
			    <li>
			      <a href="/userList?pageNum=<%-pageNum<1?1:parseInt(pageNum-1) %>" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>
			   
			    	<% if(page>4 ){ %>
			    		<li><a href="/userList?pageNum=1">1</a></li>
			    		<li><a href="/userList?pageNum=2">2</a></li>
			    		<li><a href="#">...</a></li>
			    		<li><a href="/userList?pageNum=<%- page-1 %>"><%- page-1 %></a></li>
			    		<li><a href="/userList?pageNum=<%- page %>"><%- page %></a></li>
			    		
			    	<% }else{ %>
			    		
			    		<% for(let i=0;i<page;i++){ %>
				    		<li><a href="/userList?pageNum=<%- i+1 %>"><%- i+1 %></a></li>
				    
				    	<% } %>
			    		
			    	<% } %>
			    
			    
			    <li>
			      <a href="/userList?pageNum=<%- pageNum>page?page:parseInt(pageNum)+1 %>" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			  </ul>
			</nav>
			
        </div>
    </section>

<!--点击删除按钮后弹出的页面-->
<div class="zhezhao"></div>
<div class="remove" id="removeUse">
    <div class="removerChid">
        <h2>提示</h2>
        <div class="removeMain">
            <p>你确定要删除该用户吗？</p>
            <a href="#" id="yes">确定</a>
            <a href="#" id="no">取消</a>
        </div>
    </div>
</div>

    <footer class="footer">
    </footer>

<script src="/javascripts/jquery.js"></script>
<script src="/javascripts/js.js"></script>
<script src="/javascripts/time.js"></script>

</body>
<script type="text/javascript">
	$('.removeUser').click(function(){
		var id = $(this).attr('data-id')
		console.log(id)
		$('#yes').click(function(){
			
			$.ajax({
				type:"get",
				url:"/users/del/userList",
				data:{id:id},
				success:function(data){
					//console.log(data)
					if(data == 1){
						location.href = "/userList"
						
					}else{
						alert('删除失败')
					}
				}
			})
		})
		
	})
	
	$('.user_ck').click(function(){
		var id = $(this).attr('data-id')
		//console.log(id);
		$.ajax({
			type:"get",
			url:"/userView",
			data:{id:id},
			success:function(data){
				
			}
		});
	})
	
	
	$('.cx3').click(function(){
		var cx3 = $('.chaxun3').val()
		console.log(cx3)
		$.ajax({
			type:"post",
			url:"/users/search3",
			data:{search3:cx3},
			success:function(data){
				console.log(data)
				if(data.length>0){
					var str ="";
					$.each(data, function(i,item){
						str +=`
						<tr>
		                    <td>${item.userId}</td>
		                    <td>${item.name}</td>
		                    <td>${item.sex}</td>
		                    <td>${item.age}</td>
		                    <td>${item.phone}</td>
		                    <td>${item.leixing}</td>
		                    <td>
		                        <a href="/billView" class="bill_ck" ><img src="images/read.png"  alt="查看" title="查看"/></a>
		                        <a href="/billUpdate" class="bill_xg" ><img src="images/xiugai.png" alt="修改" title="修改"/></a>
		                        <a href="#" class="removeBill" ><img src="images/schu.png" alt="删除" title="删除"/></a>
		                    </td>
		                </tr>
						`
					});
					
					$('tbody').html(str);
				}else{
					alert("您查询的用户不存在")
				}
				
			}
		});
	})
</script>
</html>